<aside class="sidebar">
    <div class="side-menu">
        <ul class="list-unstyled">
            <div class="brand">
                <h3>Brand</h3>
            </div>
            <li class="nav-links active">
                <p>
                    <i class="fa fa-home"></i>
                    <span>Dashboard</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-comment"></i>
                    <span>SMS</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-file-text-o"></i>
                    <span>Exam</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-paperclip"></i>
                    <span>Pages</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-comments"></i>
                    <span>Messages</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-bell"></i>
                    <span>Notifications</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-commenting"></i>
                    <span>Faqs</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-cogs"></i>
                    <span>Master Settings</span>
                </p>
            </li>
            <li class="nav-links">
                <p>
                    <i class="fa fa-th-large"></i>
                    <span>Theme</span>
                </p>
            </li>
        </ul>
    </div>
</aside>