{% extends "layouts/master.html" %}
    {% block content %}
        <div class="dashboard">
            <div class="row">
                <div class="col col-12 col-lg-9 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="dashboard-boxes border-danger bg-danger">
                        <div class="icon text-white bg-danger"><i class="fa fa-users"></i></div>
                        <div class="content">
                            <h4>239</h4>
                            <span>Students Count</span>
                        </div>
                    </div>
                </div>
                        <div class="col col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="dashboard-boxes border-success bg-success">
                        <div class="icon text-white bg-success"><i class="fa fa-desktop"></i></div>
                        <div class="content">
                            <h4>239</h4>
                            <span>Students Count</span>
                        </div>
                    </div>
                </div>
                        <div class="col col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="dashboard-boxes border-info bg-info">
                        <div class="icon text-white bg-info"><i class="fa fa-pie-chart"></i></div>
                       <div class="content">
                            <h4>239</h4>
                            <span>Students Count</span>
                        </div>
                    </div>
                </div>
                        <div class="col col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="dashboard-boxes border-primary bg-primary">
                        <div class="icon text-white bg-primary"><i class="fa fa-th-large"></i></div>
                        <div class="content">
                            <h4>239</h4>
                            <span>Students Count</span>
                        </div>
                    </div>
                </div>
                        <div class="col col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="dashboard-boxes border-dark bg-dark">
                        <div class="icon text-white bg-dark"><i class="fa fa-question-circle"></i></div>
                        <div class="content">
                            <h4>239</h4>
                            <span>Students Count</span>
                        </div>
                    </div>
                </div>
                        <div class="col col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="dashboard-boxes border-purple bg-purple">
                        <div class="icon text-white bg-purple"><i class="fa fa-list-alt"></i></div>
                        <div class="content">
                            <h4>239</h4>
                            <span>Students Count</span>
                        </div>
                    </div>
                </div>
                        <div class="col col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="dashboard-boxes border-secondary bg-secondary">
                        <div class="icon text-white bg-secondary"><i class="fa fa-book"></i></div>
                       <div class="content">
                            <h4>239</h4>
                            <span>Students Count</span>
                        </div>
                    </div>
                </div>
                        <div class="col col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="dashboard-boxes border-warning bg-warning">
                        <div class="icon text-white bg-warning"><i class="fa fa-list"></i></div>
                        <div class="content">
                            <h4>239</h4>
                            <span>Students Count</span>
                        </div>
                    </div>
                </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col col-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col col-12 col-md-12 mb-4">
                                            <table id="table" class="table table-hover table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                        <th scope="col">Questions</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                         <td>
                                             <span class="badge badge-success">0</span>
                                         </td>
                                         <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                             <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                             </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                         <td>
                                             <span class="badge badge-danger">0</span>
                                         </td>
                                         <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                             <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                             </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                        <td>
                                             <span class="badge badge-primary">0</span>
                                         </td>
                                        <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                            <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                            </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                </tbody>
                            </table>
                                        </div>
                                        <div class="col col-12 col-md-6">
                                            <table id="table" class="table table-hover table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Questions</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                         <td>
                                             <span class="badge badge-success">0</span>
                                         </td>
                                         <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                             <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                             </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">2</th>
                                        <td>@fat</td>
                                         <td>
                                             <span class="badge badge-danger">0</span>
                                         </td>
                                         <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                             <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                             </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>@twitter</td>
                                        <td>
                                             <span class="badge badge-primary">0</span>
                                         </td>
                                        <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                            <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                            </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                </tbody>
                            </table>
                                        </div>
                                        <div class="col col-12 col-md-6">
                                            <table id="table" class="table table-hover table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Questions</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        <th scope="row">1</th>
                                        <td>@mdo</td>
                                         <td>
                                             <span class="badge badge-success">0</span>
                                         </td>
                                         <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                             <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                             </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">2</th>
                                        <td>@fat</td>
                                         <td>
                                             <span class="badge badge-danger">0</span>
                                         </td>
                                         <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                             <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                             </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>@twitter</td>
                                        <td>
                                             <span class="badge badge-primary">0</span>
                                         </td>
                                        <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                            <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                            </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                </tbody>
                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col col-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col col-12 col-lg-4 col-md-6 col-sm-12">
                                            <div class="charts">
                                                <div class="chart">
                                                    <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                                                    <canvas id="myChart-test" width="1080" height="648" style="display: block; width: 1080px; height: 648px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-lg-8 col-md-6 col-sm-12">
                                            <table id="table" class="table table-hover table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Questions</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        <th scope="row">1</th>
                                        <td>@mdo</td>
                                         <td>
                                             <span class="badge badge-success">0</span>
                                         </td>
                                         <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                             <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                             </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">2</th>
                                        <td>@fat</td>
                                         <td>
                                             <span class="badge badge-danger">0</span>
                                         </td>
                                         <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                             <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                             </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>@twitter</td>
                                        <td>
                                             <span class="badge badge-primary">0</span>
                                         </td>
                                        <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                            <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                            </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>@twitter</td>
                                        <td>
                                             <span class="badge badge-primary">0</span>
                                         </td>
                                        <td>
                                             <span class="badge badge-success">
                                                <i class="fa fa-check"></i>
                                             </span>
                                            <span class="badge badge-danger">
                                                <i class="fa fa-close"></i>
                                            </span>
                                         </td>
                                         <td>
                                             <a href="#" class="btn btn-primary btn-sm btn-icon icon-left">
                                                 <i class="fa fa-info"></i>
                                                 <span>Info</span>
                                             </a>
                                             <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                                 <i class="fa fa-trash"></i>
                                                 <span>Delete</span>
                                             </a>
                                             <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                                 <i class="fa fa-edit"></i>
                                                 <span>Edit</span>
                                             </a>
                                         </td>
                                    </tr>
                                </tbody>
                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-lg-3 col-md-6 col-sm-12">
                    <div class="charts">
                        <div class="chart">
                            <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="myChart" width="1080" height="648" style="display: block; width: 1080px; height: 648px;"></canvas>
                    </div>
                    <div class="chart">
                        <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                        <canvas id="myChartSmall" width="1080" height="648" style="display: block; width: 1080px; height: 648px;"></canvas>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {% for student in students %}
            {{ student.id }}
            {{ student.name }}
        {% endfor %}
    {% endblock %}