
*, html, body{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f7f7f7;
}

/*--- Start Layout ---*/
.sidebar{
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 4px #d8d8d88a;
    .brand{
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #f7f7f7;
        h3{
            margin: 0;
        }
    }
    .side-menu{
        .nav-links{
            padding: 15px 20px;
            p{
                margin: 0;
                i{
                    margin-right: 10px;
                }
            }
            &.active{
                background-color: #f7f7f7;
                border-left: 4px solid #ddd;
            }
        }
    }
}
.page-wrapper{
    width: calc(100% - 220px);
    min-height: 100vh;
    margin-left: 220px;
    position: relative;
    .header{
        .nav{
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 4px 0 4px #d8d8d88a;
        }
    }
    .wrapper-content{
        padding: 20px;
        .dashboard{
            margin-bottom: 40px;
            .dashboard-boxes{
                display: flex;
                align-items: center;
                height: 75px;
                overflow: hidden;
                border-style: solid;
                border-width: 1px;
                &.bg-danger{
                    background-color: #dc3545a8!important;
                }
                &.bg-success{
                    background-color: #28a745a8!important;
                }
                &.bg-info{
                    background-color: #17a2b8a8!important;
                }
                &.bg-primary{
                    background-color: #007bffa8!important;
                }
                &.bg-purple{
                    background-color: #710971a8!important;
                }
                &.bg-secondary{
                    background-color: #6c757da8!important;
                }
                &.bg-dark{
                    background-color: #343a40a8!important;
                }
                &.bg-wrning{
                    background-color: #ffc107a8!important;
                }
                &.border-purple{
                    border: 1px solid #710971!important;
                    .bg-purple{
                        background-color: #710971;
                    }
                }
                .icon{
                    width: 25%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 0 4px #7d7d7d8a;
                    i{
                        font-size: 38px;
                    }
                }
                .content{
                    height: 100%;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: #fff;
                    h4{
                        margin: 0;
                    }
                }
            }
            .charts{
                height: 100%;
                background-color: #fff;
                padding: 20px;
                border: 1px solid #ddd;
                .chart{
                    canvas{
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
            .table{
                margin-bottom: 0;
                a.btn{
                    padding: 0;
                    border: none;
                    overflow: hidden;
//                    background-color: transparent;
                    i{
                        padding: 7px;
                        height: 100%;
                        width: 25px;
                        box-shadow: 0 0 4px #ddd;
                    }
                    span{
                        padding: 5px 10px 5px 5px;
                    }
                }
            }
        }
    }
    .footer{
        background-color: #ffffff;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 20px;
        box-shadow: 4px 0 4px #d8d8d88a;
    }
}
/*--- /end layout ---*/